.name-container {
    background-color: rgb(114, 114, 114);
    padding: 2em;
    transition: 0.3s;
    margin: auto;
}

.name-container:hover {
    background-color: antiquewhite;
    color: black;
    transform: scale(0.9);
}

.heading {
    text-transform: uppercase;
    font-size: 4em;
}

.subheading {
    font-size: 2em;
    font-weight: 100;
}